name: Deploy to GitHub pages

on:
  push:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Generate storybook
        run: |
          npm ci
          npm run build-storybook
